.homeWrapper {
    padding-top: 88px;

    .mainBannerContainer {
        width: 100%;
        height: 82vh;

        padding-bottom: 15vh;
        background-color: #0b0b0b;

        position: relative;

        >img {
            width: 100%;
            height: 100%;
            object-position: top;
            object-fit: cover;
        }

        .imageShadow {
            position: absolute;
            bottom: 15vh;
            left: 0;

            width: 100%;
            height: 86%;

            z-index: 1;

            background: linear-gradient(0deg, #0b0b0b 0%, #0b0b0b00 25%, #0b0b0b00 90%, #0b0b0b 100%);
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            gap: 24px;
            position: absolute;
            bottom: 10rem;

            width: 450px;

            left: 50%;
            transform: translateX(-50%);

            z-index: 3;

            >h1 {
                font-size: 34px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;

                color: #FFFFFF;

                >span {
                    color: #7149E9;
                }
            }

            >p {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: center;

                color: #FFFFFF;
            }
        }
    }
}