.softSkillsWrapper {
    display: flex;
    gap: 128px;

    padding-inline: 24px;
    padding-block: 128px;

    >header {
        display: flex;
        flex-direction: column;
        min-width: 340px;

        >span {
            color: #7149E9;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
        }

        >h2 {
            font-size: 60px;
            line-height: 60px;
            font-weight: 400;
        }
    }

    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        .skillWrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;

            padding: 32px;

            flex-basis: calc(50% - 72px);

            background-color: #161517;
            border-radius: 16px;

            >h3 {
                font-size: 24px;
                color: #7149E9;
                line-height: 32px;
                font-weight: 500;
            }

            >p {
                font-size: 14px;
                line-height: 24px;
                color: #E5E4E0B2
            }
        }
    }
}

@media (max-width: 1025px) {
    .softSkillsWrapper {
        flex-direction: column;
        gap: 16px;
        padding-top: 64px;
        padding-bottom: 64px;

        >header {
            >span {
                color: #7149E9;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
            }

            >h2 {
                font-size: 24px;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }

    .skillsContainer {
        .skillWrapper {
            flex-basis: unset !important;
            width: 100%;

            gap: 8px !important;

            >h3 {
                font-size: 16px !important;
            }

            >p {
                font-size: 12px !important;
            }
        }
    }
}