.terraVista {
    margin-top: 88px;

    padding-inline: 24px;
    //padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        &:first-of-type {
            padding-bottom: 128px;
        }

        padding-bottom: 60px;
    }

    a {
        text-decoration: none;
    }

    .projectsWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        padding-bottom: 128px;

        .terraVistaWrapper {
            width: 100%;
            aspect-ratio: 77/32;
            border-radius: 32px;
            //background-color: aqua;
            overflow: hidden;
            position: relative;

            cursor: pointer;

            &:hover {
                >img {
                    transform: scale(105%);
                    transition: .5s ease;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                transition: .5s ease;
            }

            >h2 {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                color: #E5E4E0;
            }

            >span {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #E5E4E0CC;
            }
        }

        .backgroundGradient {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;

            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    .leftTextImage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        padding-bottom: 60px;

        >p {
            width: 60%;
            font-size: 1.2vw;
            line-height: 5vw;
            text-align: justify;
        }

        .image1 {
            width: 45%;
            aspect-ratio: 1.2/1;
            border-radius: 32px;
            overflow: hidden;

            >img {
                height: 100%;
                object-fit: cover;
                object-position: -10vw;
            }
        }
    }

    .twoImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 16px;

        margin-bottom: 60px;

        >div {
            height: 36vw;
            width: 100%;

            border-radius: 32px;

            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .image1 {
            grid-column: span 2 / span 2;
            //background-color: aqua;
        }

        .image2 {
            grid-column-start: 3;
            //background-color: aqua;
        }
    }

    .twoImagesTextRight {
        display: flex ;
        align-items: center;
        gap: 24px;
        margin-bottom: 60px;

        .images {
            display: flex;
            flex-direction: column;
            gap: 24px;

            width: 65%;

            .image1 {
                width: 100%;
                aspect-ratio: 734 / 279;
                overflow: hidden;

                border-radius: 32px;

                > img {
                    width: 100%;
                    object-fit: cover;
                    object-position: 0 -52px;
                }
            }

            .image2 {
                width: 100%;
                aspect-ratio: 734 / 279;
                overflow: hidden;

                border-radius: 32px;

                > img {
                    width: 100%;
                    object-fit: cover;
                    transform: scale(1.2);
                }
            }
        }

        >p {
            width: 45%;
            font-size: 1.2vw;
            line-height: 5vw;
            text-align: justify;
        }
    }

    .poster {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 128px;
        width: 100%;

        >img {
            height: 150vh;
        }
    }
}