.badDreams {
    margin-top: 88px;

    padding-inline: 24px;
    //padding-bottom: 128px;

    >header {
        padding-block: 128px;

        >a {
            display: flex;
            border-radius: 64px;

            width: 80px;
            height: 48px;
            max-width: 80px;
            max-height: 48px;

            background-image: url('../../../assets/ArrowCarousel.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20%;

            border: 1px solid black;

            filter: invert(100%);
            opacity: 50%;

            transform: scaleX(-1);

            transition: .5s ease;

            &:hover {
                background-color: #E5E4E0;
                filter: invert(0%);
                opacity: 100%;

                transition: .5s ease;
            }
        }

        >h1 {
            font-size: 120px;
            line-height: 100%;
            color: #E5E4E0;
            font-weight: 400;
        }
    }

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        padding-bottom: 128px;
    }

    a {
        text-decoration: none;
    }

    .projectsWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        padding-bottom: 128px;

        .badDreamsWrapper {
            width: 100%;
            aspect-ratio: 77/32;
            border-radius: 32px;
            //background-color: aqua;
            overflow: hidden;
            position: relative;

            &:hover {
                >img {
                    transform: scale(105%);
                    transition: .5s ease;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                transition: .5s ease;
            }

            >h2 {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                color: #E5E4E0;
            }

            >span {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #E5E4E0CC;
            }
        }

        .backgroundGradient {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;

            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
}