.badDreams {
    margin-top: 88px;

    padding-inline: 24px;
    //padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        &:first-of-type {
            padding-bottom: 128px;
        }

        padding-bottom: 60px;
    }

    a {
        text-decoration: none;
    }

    .projectsWrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;

        padding-bottom: 128px;

        .badDreamsWrapper {
            width: 100%;
            aspect-ratio: 77/32;
            border-radius: 32px;
            //background-color: aqua;
            overflow: hidden;
            position: relative;

            cursor: pointer;

            &:hover {
                >img {
                    transform: scale(105%);
                    transition: .5s ease;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                transition: .5s ease;
            }

            >h2 {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                color: #E5E4E0;
            }

            >span {
                position: absolute;
                bottom: 32px;
                left: 32px;
                z-index: 2;

                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #E5E4E0CC;
            }
        }

        .backgroundGradient {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;

            background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    .leftTextImage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        padding-bottom: 60px;

        >p {
            width: 60%;
            font-size: 1.2vw;
            line-height: 4.5vw;
            text-align: justify;    
        }

        .image1 {
            width: 45%;
            aspect-ratio: 1.5/1;
            border-radius: 32px;
            overflow: hidden;

            >img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .twoImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 16px;

        margin-bottom: 60px;

        >div {
            height: 36vw;
            width: 100%;

            border-radius: 32px;

            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .image1 {
            grid-column: span 2 / span 2;
            //background-color: aqua;
        }

        .image2 {
            grid-column-start: 3;
            //background-color: aqua;
        }
    }

    .threeImages {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 16px;

        padding-bottom: 60px;

        >div {
            border-radius: 32px;
            overflow: hidden;
            height: 80vh;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img1 {
            >img {
                object-position: -700px;
            }
        }

        .img2 {
            grid-column: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 1;

            background-color: aqua;
        }

        .img3 {
            grid-column: span 2 / span 2;
            grid-column-start: 2;
            grid-row-start: 1;

            background-color: aqua;
        }
    }

    .soloImage {
        width: 100%;
        margin-bottom: 128px;
        border-radius: 32px;
    }
}

@media screen and (max-width: 1025px) {
    .badDreams {
        margin-top: 0;
        padding-bottom: 64px;

        >p {
            font-size: 12px;
            line-height: 24px;

            padding-bottom: 32px;

            &:first-of-type {
                padding-bottom: 64px;
            }
        }

        .projectsWrapper {
            padding-bottom: 64px;

            .badDreamsWrapper {
                aspect-ratio: 16/9;

                >h2 {
                    font-size: 12px;
                    line-height: 24px;

                    left: 24px;
                    bottom: 12px;
                }
            }
        }

        .leftTextImage {
            flex-direction: column;
            padding-bottom: 16px;

            >p {
                width: 100%;
                font-size: 12px;
                line-height: 24px;

                &:last-child {
                    padding-bottom: 16px;
                }
            }

            .image1 {
                width: 100%;

                >img {
                    width: 100%;
                    object-position: unset !important;
                }
            }
        }

        .twoImages {
            margin-bottom: 16px;
        }

        .threeImages {
            display: flex;
            flex-direction: column;

            padding-bottom: 32px;

            >div {
                display: flex;
                height: 26vh;

                gap: 16px;

                [data-div] {
                    border-radius: 32px;
                    overflow: hidden;

                    &:first-child {
                        width: 60%;
                    }

                    &:last-child {
                        width: 40%;
                    }

                    >img {
                        object-position: unset !important;

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        >img {
            margin-bottom: 0 !important;
        }
    }
}