.orian {
    margin-top: 88px;

    padding-inline: 24px;
    padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        padding-bottom: 60px;

        &:first-of-type {
            padding-bottom: 128px;
        }

        >a {
            color: #7149E9;
        }
    }

    .twoImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 16px;

        margin-bottom: 60px;

        >div {
            height: 36vw;
            width: 100%;

            border-radius: 32px;

            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .image1 {
            grid-column: span 2 / span 2;
            //background-color: aqua;
        }

        .image2 {
            grid-column-start: 3;
            //background-color: aqua;
        }
    }

    .soloImage {
        width: 100%;
        margin-bottom: 60px;
    }

    .gridFourImages {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;

        margin-bottom: 60px;

        >div {
            height: 36vw;
            width: 100%;

            border-radius: 32px;

            overflow: hidden;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .image1 {
            grid-column: span 2 / span 2;
            background-color: aqua;
        }

        .image2 {
            grid-column-start: 3;
            background-color: aqua;
        }

        .image3 {
            grid-row-start: 2;
            background-color: aqua;
        }

        .image4 {
            grid-column: span 2 / span 2;
            grid-row-start: 2;
            background-color: aqua;
        }
    }
}

@media screen and (max-width: 1025px) {
    .orian {
        margin-top: 0;
        padding-bottom: 64px !important;

        >header {
            >h1 {
                font-size: 37px;
            }
        }

        >p {
            font-size: 12px;
            line-height: 24px;
            padding-bottom: 32px !important;

            &:first-of-type {
                padding-bottom: 64px !important;
            }
            

            &:last-of-type {
                padding-bottom: 0 !important;
            }
        }

        .twoImages {
            margin-bottom: 32px;
        }

        >img {
            margin-bottom: 32px !important;
            border-radius: 32px;
        }

        .gridFourImages {
            margin-bottom: 32px;
        }
    }
}