.pageHeader {
    padding-block: 64px;

    >button {
        display: flex;
        border-radius: 64px;

        width: 80px;
        height: 48px;
        max-width: 80px;
        max-height: 48px;

        background-image: url('../../assets/ArrowCarousel.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20%;

        border: 1px solid black;

        filter: invert(100%);
        opacity: 50%;

        transform: scaleX(-1);

        transition: .5s ease;

        cursor: pointer;

        &:hover {
            background-color: #E5E4E0;
            filter: invert(0%);
            opacity: 100%;

            transition: .5s ease;
        }
    }

    >h1 {
        font-size: 120px;
        line-height: 100%;
        color: #E5E4E0;
        font-weight: 400;
    }
}

@media screen and (max-width: 1025px) {
    .pageHeader {
        >button {
            width: 44px;
            height: 25px;
            background-size: 40%;
        }

        >h1 {
            font-size: 48px;
        }
    }
}