.auroraWrapper {
    margin-top: 88px;

    padding-inline: 24px;
    padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        padding-bottom: 128px;
    }

    .auroraPages {
        display: flex;
        flex-direction: column;
        gap: 16px;

        justify-content: center;
        align-items: center;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-drag: none;

        >img {
            height: 90vh;
        }
    }
}

@media screen and (max-width: 1025px) {
    .auroraWrapper {
        margin-top: 0;
        padding-bottom: 64px;

        >p {
            font-size: 12px;
            line-height: 24px;
            padding-bottom: 64px;
        }

        .auroraPages {
            >img {
                height: unset;
                width: 90%;
            }
        }
    }
}