.teatro {
    margin-top: 88px;

    padding-inline: 24px;
    padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        padding-bottom: 60px;

        &:first-of-type {
            padding-bottom: 128px !important;
        }

        &:last-of-type {
            padding-bottom: 0px;
        }

        >a {
            color: #7149E9;
        }
    }

    a {
        color: #7149E9;
    }

    .twoImages {
        display: flex;
        gap: 24px;
        padding-bottom: 60px;

        &:first-of-type {

            >img {
                &:first-child {
                    width: 60%;
                }


                &:last-child {
                    width: 40%;
                }
            }
        }

        >img {

            &:first-child {
                width: 67%;
            }


            &:last-child {
                width: 33%;
            }
        }

    }

    .leftTextImage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        padding-bottom: 60px;

        >p {
            width: 60%;
            font-size: 1.2vw;
            line-height: 60px;
            text-align: justify;
        }

        >img {
            width: 40%;
        }
    }

    .rightTextImage {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        padding-bottom: 60px;

        >p {
            width: 60%;
            font-size: 1.2vw;
            line-height: 60px;
            text-align: justify;
        }

        >img {
            width: 40%;
        }
    }

    .threeImages {
        display: flex;
        gap: 24px;
        padding-bottom: 60px;

        >img {
            width: 37%;

            &:first-child {
                width: 22%;
            }

            &:last-child {
                width: 40%;
            }
        }
    }

    .twoImagesReverse {
        display: flex;
        gap: 24px;
        padding-bottom: 60px;

        >img {
            &:first-child {
                width: 40%;
            }


            &:last-child {
                width: 60%;
            }
        }
    }

    .lastMessage {
        aspect-ratio: 176 / 75;
        width: 100%;
        border-radius: 32px;
        overflow: hidden;

        position: relative;

        >img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0px -200px;
        }

        >h3 {
            position: absolute;
            top: 48px;
            left: 50%;
            transform: translateX(-50%);

            width: 90%;

            font-size: calc(16px + .5vw);
            text-align: center;
            line-height: 50px;
            font-weight: 500;

            z-index: 1;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;

            background-color: rgb(0, 0, 0, .4);
        }
    }
}