.tpifs {
    margin-top: 88px;

    padding-inline: 24px;
    padding-bottom: 128px;

    >p {
        font-size: 20px;
        line-height: 50px;
        text-align: justify;
        font-weight: 500;
        color: #E5E4E0;

        padding-bottom: 128px;
    }

    a {
        text-decoration: none;
    }

    [data-tpifs-tv-wrapper] {
        overflow: hidden;
        border-radius: 32px;
        padding-bottom: 128px;

        >img {
            width: 100%;
            transform: scale(1.01);
        }
    }

    .leftTextImage {
        display: flex;
        align-items: center;
        gap: 48px;

        padding-bottom: 128px;

        >p {
            font-size: 1.4vw;
            width: 60%;
            line-height: 60px;
            text-align: justify;
        }

        >img {
            width: 40%;
            border-radius: 32px;
        }
    }

    .phrase {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 48px;
        padding-inline: 128px;
        padding-bottom: 128px;

        >h2 {
            font-size: calc(24px + .8vw);
            font-weight: 500;
            text-align: center;
            line-height: 50px;
        }

        >svg {
            width: 10vw;
            min-width: 114px;
        }
    }

    .twoImages {
        display: flex;
        gap: 16px;
        padding-bottom: 24px;

        >img {
            width: 100%;
            border-radius: 32px;
        }
    }

    [data-tpifs-outside-wrapper] {
        padding-bottom: 24px;

        >img {
            width: 100%;
            border-radius: 32px;
        }
    }

    [data-tpifs-kitchen-wrapper] {
        padding-bottom: 128px;

        >img {
            width: 100%;
            border-radius: 32px;
        }
    }

    .tripleDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        padding-bottom: 64px;

        gap: 48px;

        >p {
            font-size: 1.4vw;
            line-height: 60px;
            text-align: justify;
        }

        >img {
            border-radius: 32px;
        }
    }

    [data-photos-phrase] {
        display: flex;
        justify-content: center;

        padding-block: 360px;

        position: relative;

        >h2 {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            font-weight: 500;
            font-size: 36px;
            width: 55%;
            text-align: center;
        }

        [data-photos] {
            position: absolute;
            transform: translateY(-50%);
            width: 55%;
            height: 25%;

            >img:nth-child(1) {
                position: absolute;
                bottom: -70%;
                right: 0;

                width: 9vw;
            }

            >img:nth-child(2) {
                position: absolute;
                bottom: -75%;
                left: 0;

                width: 9vw;
            }

            >img:nth-child(3) {
                position: absolute;
                bottom: -98%;
                left: 13%;

                width: 8vw;
            }

            >img:nth-child(4) {
                position: absolute;
                top: -75%;
                right: 5%;

                width: 9vw;
            }

            >img:nth-child(5) {
                position: absolute;
                bottom: -90%;
                right: 13%;

                width: 7vw;
            }

            >img:nth-child(6) {
                position: absolute;
                top: -105%;
                left: 9%;

                width: 9vw;
            }

            >img:nth-child(7) {
                position: absolute;
                top: -75%;
                left: -4%;

                width: 9vw;
            }

            >img:nth-child(8) {
                position: absolute;
                top: -95%;
                right: 19%;

                width: 9vw;
            }
        }
    }

    .twoTexts {
        display: flex;
        gap: 32px;
        padding-bottom: 128px;


        >p {
            width: calc(50% - 16px);
            font-size: 1.4vw;
            line-height: 60px;
            text-align: justify;

            >a {
                color: #7149E9;
            }
        }
    }
}