.imageMosaicWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 128px 24px 0 24px;

    >div {
        display: flex;
        gap: 24px;
        border-radius: 32px;
        overflow: hidden;
    }

    .mosaicMid {
        width: 100%;
        >div {
            &:first-child {
                aspect-ratio: 101/58;
                width: 67%;
            }
            &:last-child {
                aspect-ratio: 25/29;
                width: 33%;
            }
        }
    }

    .mosaicBottom {
        width: 100%;
         >div {
            &:first-child {
                aspect-ratio: 25/29;
                width: 33%;
            }
            &:last-child {
                aspect-ratio: 101/58;
                width: 67%;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}