.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 88px;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #0b0b0b;

    z-index: 10;
    box-shadow: 0px 10px 20px 30x rgba#0b0b0b50;

    .headerLeftContainer {
        padding-left: 24px;

        >a {
            text-decoration: none;
            
            >h2 {
                color: #E5E4E0;
                font-weight: 400 !important;
                font-size: 16px;
                line-height: 100%;
                letter-spacing: 3%;

                transition: .3s ease;

                &:hover {
                    letter-spacing: 1px;

                    transition: .3s ease;
                }
            }
        }
    }

    .headerRightContainer {
        display: flex;
        gap: 16px;
        padding-right: 24px;

        [data-selected="false"] {
            text-decoration: none;
            color: #F7F7F8B2;
            opacity: .7;

            transition: .3s ease;

            &:hover {
                color: #FFFFFF;
                opacity: 1;

                transition: .3s ease;
            }
        }

        [data-selected="true"] {
            text-decoration: none;
            color: #FFFFFF;

            transition: .3s ease;
        }
    }
}